<div class="filter-container">
    <span>Filter: </span>

    <input type="radio" name="filter" 
    value="all" 
    [(ngModel)]="selectedFilter" 
    (change)="onSelectedButtonChange()"/>
    <span>{{'All (' +all+')'}}</span>

    <input type="radio" name="filter" 
    value="true" 
    [(ngModel)]="selectedFilter" 
    (change)="onSelectedButtonChange()"/>
    <span>{{'In Stock ('+inStock+')'}}</span>

    <input type="radio" name="filter" 
    value="false" 
    [(ngModel)]="selectedFilter" 
    (change)="onSelectedButtonChange()"/>
    <span>{{'Out of Stock ('+ OutOfStock+')'}}</span>
</div>
