<app-filter 
[all]="totalProdCount" 
[inStock]="totalInStock" 
[OutOfStock]="totalProdCount - totalInStock"
(SelectedFilterRadioButtonChanged) = "onFilterChange($event)">
</app-filter>
<div class="ekart--products--container">
<!--     *ngIf="selectedFilter === 'all' || prod.is_in_inventory.toString() === selectedFilter" -->
    <div *ngFor="let prod of products" (click)="selectedProduct = prod">
        <div *ngIf="selectedFilter === 'all' || prod.is_in_inventory.toString() === selectedFilter">
            <app-product  [product]="prod" *ngIf="searchText ==='' || prod.name.toLowerCase().includes(searchText)"></app-product>
        </div>
    </div>
    
</div>